<h2>New To Do:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Title:</label>
    <input type="text" value="" name="title" id=""/>
  </p>
  <input type="submit" value="Create" />
</form>
